<nav class="navbar navbar-default" role="navigation">
    <uL class="nav navbar-nav">
        <li>
            <a href="/">Главная</a>
        </li>
        <% if(user) { %>
        <li>
            <a href="/chat">Room1</a>
        </li>
        <% } %>
        <% if(user) { %>
        <li>
            <a href="/room">Room2</a>
        </li>
        <% } %>
    </uL>
    <uL class="nav navbar-nav">
        <% if(user) { %>
        <li>
            <a href="/logout">Выйти</a>
        </li>
        <% } else { %>
        <li>
            <a href="/login">Войти</a>
        </li>
        <% } %>
    </uL>
</nav>