body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.status {
    color:grey;
    font-style: italic;
}

.name {
    color: #2e3347;
    font-weight: bold;
}

.column {
    margin:auto;
    overflow: hidden;
    width:600px;
}