.chat {
    position: relative;
    overflow: hidden;
}

.chat_viewport {
    height: 100%;
    margin:0;
    overflow: auto;
    border-radius: 3px;
    box-shadow:inset 0 0 10px rgba(0,0,0,0.3);
}

.chat_viewport_cnt {
    padding:10px;
}

.chat_users {
    position:relative;
    float: right;
    height: 100%;
    width: 0px;
}

.chat_users_viewport {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat_users_cnt {
    padding:0 0 0 10px;
}

.chat_users_toggle {
    position:absolute;
    top:50%;
    right:-15px;
    width:45px;
    height:40px;
    background: rgba(100, 100, 100, 0.5);
    border-radius:20px;
    z-index:2;
}

.chat_users_toggle:hover {
    background: rgba(100, 100, 100, 1);
}

.chat_event {
    color:grey;
    font-style: italic;
    font-size: 0.9em;
}

.chat_item {
    list-style-type: none;
    margin:5px 0;
}

.chat_status {
    margin:10px 0;
}

.chat_message_date {
    color: #989898;
    font-size: 0.8em;
}
.chat_message_text {
    font-size: 0.9em;
}