<% layout('./layout/page') -%>
<% block('title', 'Room1')%>
<% block('head',
        '<link rel="stylesheet" href="/css/nodechat.css" />'+
                '<script src="/vendor/bower_components/socket.io-client/dist/socket.io.js"></script>'+
                '<script src="/js/nodechat-client.js"></script>'
)%>

<p>Добро пожаловать, <%=user.get('username')%></p>

<div class="column" id="chat_cnt"></div>

<script>
    var chat = new NodeChat({
        targetContainer: $('#chat_cnt'),
        viewportHeight: 400,
        url: 'ws://localhost:8080',
        room:'room1'
    });
</script>